// Imports
@import "breakpoints";
@import "variables";
@import "fonts";

// CSS reser

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  //This defines what 1rem is.
  font-size: 62.5%; // 1 rem = 10px; 10px/16px=62.5%
}
body {
  font-family: "Satoshi Variable", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  flex: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;

  &--main-content {
    border: 1px solid green;
    padding: 13rem 4rem;
    height: 100%;
    display: flex;
  }

  &--footer {
    background: $color-black;
    color: $color-white;
    padding: 4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
  }

  &--sidebar {
    color: $color-deep-purple;
    min-width: 31.2rem;
    padding: 1rem 0;
    > h3 {
      font-size: 3.7rem;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: -0.5px;
      margin-bottom: 2rem;
    }
    > .menu-element {
      font-size: 2rem;
      font-weight: 500;
      line-height: 160%; /* 32px */
      letter-spacing: 0.5px;
      // text-decoration: underline;
      border-bottom: 1px solid $color-deep-purple;
      cursor: pointer;
    }
  }
}

.column {
  border: 1px solid purple;
  &:first-of-type {
    margin-right: 4rem;
  }
}
